# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Machine Learning models
*.pkl
*.joblib

# Logs
*.log